body {
    background: #00002e; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1000vh;
}
mark {
  background-color: #800080;
  color: black;
}
.glowbox {
    background: #f2f3f4; 
    width: 500px;
    height: 400px;
    padding: 10px;
    -moz-box-shadow: 0 0 5px 5px #ddd;
    -webkit-box-shadow: 0 0 5px 5px#ddd;
    box-shadow: 0 0 5px 5px #ddd;
}
